<div class="wrap" [ngStyle]="{'min-height': changeHeight+'px'}">
  <div class="top-module mb-10">
    <span>
        <div class="select-box base_input">
            <input type="text" class="select-con" placeholder="乘客姓名/航空公司代码/票号/代理商姓名" [(ngModel)]="model.name" (keyup)="keyup($event)" />
            <!-- <span class="fa fa-search select-but" (click)="selectClick()"></span> -->
            
          </div>
          <button class="btn btn-primary" (click)="selectClick()">搜索</button>
          <span class="showmore" (click)="model.toggle = 1 - model.toggle">更多条件<i class="fa " [ngClass]="{'fa-angle-down': !model.toggle, 'fa-angle-up': model.toggle}"></i></span>
          <span class="showmore" (click)="ClearCondition()">清空条件<i class="fa fa-close "></i></span>
    </span>
      
    <span class="floatright">
        <button class="btn btn-primary" (click)="AddTicket()">机票录入</button>
        <a href="javascript:;" class="btn file btn-primary">俄航导入
            <input #uploadFileEH type="file" name="file" (change)="getUpload( $event,'eh')"  >
        </a>
        <a href="javascript:;" class="btn file btn-primary">航联导入
          <input #uploadFileLH type="file" name="file" (change)="getUpload( $event,'lh')" />
        </a>
        <a href="javascript:;" class="btn file btn-primary">其他导入
          <input #uploadFileQT type="file" name="file" (change)="getUpload( $event,'qt')"  >
      </a>
    </span>
  </div>
  <div class="more-content" *ngIf="model.toggle">
      <div class="form-group row">
          <label class="control-label">按时间:</label>
          <div class="col-sm-2">
              <input class="form-control base_input" placeholder="yyyy-mm-dd"
            name="STARTDATE" [(ngModel)]="model.STARTDATEObject" (ngModelChange)="TimeChange($event)"  ngbDatepicker #STARTDATEdate="ngbDatepicker" (click)="STARTDATEdate.toggle()" />
          </div>
          <div class="col-sm-2">
              <input class="form-control base_input" placeholder="yyyy-mm-dd"
            name="ENDDATE" [(ngModel)]="model.ENDDATEObject" (ngModelChange)="TimeChange($event)" ngbDatepicker #ENDDATEdate="ngbDatepicker" (click)="ENDDATEdate.toggle()" />
          </div>

          <label class="control-label">航空公司:</label>
          <div class="col-sm-2">
              <select class="form-control" name="state"  [(ngModel)]="model.AIRLINE_NAME" style="height:35px" (change)="AIRLINESel($event)">
                  <option value="{{item.name}}" *ngFor="let item of AirLineArray">{{item.name}}</option>
                </select>
          </div>

          <label class="control-label">代理商:</label>
          <div class="col-sm-2">
              <select class="form-control" name="state"  [(ngModel)]="model.DL_NAME" style="height:35px" (change)="DLNAMESel($event)">
                  <option value="{{item.DL_NAME}}" *ngFor="let item of DLNameArray">{{item.DL_NAME}}</option>
                </select>
          </div>
    </div>
    
  </div>
      
  <div class="wrap-border clearfix">
    <table class="table table-hover table-style1">
      <thead class="table-head-style1">
        <tr>
          <th scope="col">航空公司</th>
          <th scope="col">航空公司代码</th>
          <th scope="col">票号</th>
          <th scope="col">乘客姓名</th>
          <th scope="col">出票日期</th>
          <th scope="col">总价</th>
          <th scope="col">航空结算价</th>
          <th scope="col">代理结算价</th>
          <th scope="col">代理类型</th>
          <th scope="col">代理人</th>
          <th scope="col">支付状态</th>
          <th scope="col">已付金额</th>
          <th class="txt-center" scope="col">操作</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let data of DataList,let i = index;" [ngClass]="{'queryState': data.ZT=='5','editState':data.ZT == '2'}">
          <td>{{data.AIRLINE_NAME}}</td>
          <td>{{data.AIRLINE_CODE}}</td>
          <td>{{data.TICKETS_CODE }}</td>
          <td>{{data.PASSENGER }}</td>
          <td>{{data.TICKETS_DATE |badateformatpipe:'YYYY-MM-DD'}}</td>
          <td>{{data.TOTALBILL }}</td>
          <td>{{data.AIRBILL }}</td>
          <td>{{data.DLBILL }}</td>
          <td>{{data.DLTYPE |baagenttype}}</td>
          <td>{{data.DLNAME }}</td>
          <td>{{data.ISVALID |bapaystatepipe}}</td>
          <td>{{data.PAYMONEY }}</td>
          <td class="operation-wrap txt-center">
            <i (click)="EditInfo(data)" class="fa fa-lg fa-pencil" title="编辑"></i>
            <i (click)="Del(data)" class="fa fa-lg fa-trash-o" title="删除"></i>
          </td>
        </tr>
        <tr *ngIf="loadingState">
          <td style="text-align:center;" colspan="13">
            <sk-fading-circle> </sk-fading-circle>
          </td>
        </tr>
        <tr class="" *ngIf="!DataList.length">
          <td style="text-align:center;" colspan="13"> 暂无数据</td>
        </tr>
      </tbody>
    </table>
    <ngb-pagination *ngIf="RecordCount/PageSize >1" [maxSize]="5" class="fr" [collectionSize]="RecordCount" [(page)]="PageNum" [(pageSize)]="PageSize"
      (pageChange)="pageChange()">
    </ngb-pagination>
  </div>
</div>