.main-title{
	text-align: center;
	position: relative;
	font-size: 24px;
	background: #fff;
	padding:15px;
	margin: 0px 0px 15px 0px;
	line-height: 24px;
	.backicon{
		position: absolute;
		left:10px;
		top: 9px;
    	font-size: 36px;
	}
}

.wrap{
	padding:10px;
	.content{
		// background: #fff;
	}
	.more-content{
		margin-left: 10px;
		margin-top: 20px;
		.control-label{
			line-height: 30px;
			margin-left: 15px;
		}
		.groupRadio{
			line-height: 30px;
			label{
				margin-right: 5px;
			}
		}
		.sel-year{
			width: 76px;
		}
		.sel-month{
			width: 73px;
		}
		.sel-day{
			width: 95px;
		}
		
	}
	.data-content{
		margin-top: 70px;
		&:first-child{
			margin-top: 10px;
		}
	}
	.table{
		.operation-wrap{
			.btn{
				padding: 2px 7px;
			}
			.file {
				position: relative;
				display: inline-block;
				border-radius: 4px;
				overflow: hidden;
				text-decoration: none;
				text-indent: 0;
			}
			.file input {
				position: absolute;
				font-size: 100px;
				right: 0;
				top: 0;
				opacity: 0;
			}
			.file:hover {
				text-decoration: none;
			}
		}
	}

}

.staff-manage .ofhidden{
	width:74%;
	padding:10px 0;
}
.ofhidden li{
	width:33%;
}
.ofhidden span{
	display:block;
	line-height:38px;
	background:#0f0;
	margin-right:14px;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	cursor:pointer;
}
.show-table .width-180{
	width:180px;
}
.show-table .width-100{
	width:100px;
}

@media screen and (max-width: 768px){
    .wrap{
        min-width: 1200px;
		.col-sm-1{
			width:10%;
		}
		.col-sm-2{
			width:15%;
		}
    }
  }


